/* Main */

@import url('colors.css');
@import url('clip-path-polygon.css');
@import url('util.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    background-color: var(--color-white);
}

#main-container{
    width: 500px;
    margin: auto; /* horizontally centers the main container */
}

#title-bar{
    background-color: var(--color-green);
    color: var(--color-white);
}

#app-body-container{
    background-color: var(--color-grey);
    /* Overriding std-padding-trbl class */
    padding-top: 2.5em;
    padding-bottom: 2em;
}

#export-container{
    max-width: 240px;
    margin-top: 2.5em;
}

#export-button-container{
    background-color: var(--color-orange-dark);
    color: var(--color-white);
    cursor: pointer;
    margin-bottom: 0.4em;
}

#export-button-container:hover{
    background-color: var(--color-orange-light);
}

#export-button-icon img{
    width: 16px;
    margin-left: 0.5em;
}

#export-button-text{
    font-size: 16px;
}

#connection-icon img{
    width: 120px;
    margin-bottom: 2em;
}

#col-right{
    text-align: right;
}

#notification-permission{
    text-decoration: underline;
    cursor: pointer;
}
#notification-permission:hover{
    text-decoration: none;
}