/* Main */

@import url('colors.css');
@import url('clip-path-polygon.css');
@import url('util.css');
@import url('button.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    background-color: var(--color-grey);
}

#main-container{
    width: 500px;
    margin: auto; /* horizontally centers the main container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Set box shadow */
}

#title-bar{
    color: var(--color-white);
}

#app-body-container{
    background-color: var(--color-white);
    
    /* Overriding std-padding-trbl class */
    padding-top: 2.5em;
    padding-bottom: 2em;
}

#conn-data{
    width: 14em;
}

.conn-data-label{
    font-weight: 100;
    font-size: 0.8rem;
}

#export-container{
    max-width: 240px;
    margin-top: 2.5em;
}

#export-button-container{
    margin-bottom: 0.4em;
}

#col-right{
    text-align: right;
}

.connection-icon{
    width: 120px;
    margin: auto;
    margin-bottom: 2em;
}

/* Mobile View */

#mobile-container{
    max-width: 300px;
}

#no-phone-img{
    width: 4em;
    margin-bottom: 1.3em;
}

#mobile-title{
    font-size: 1.5rem;
    margin-bottom: 0.2em;
    line-height: 0.9em;
}

#mobile-body{
    font-size: 0.6rem;
    margin-bottom: 4em;
}


/* Temp */

/* #main-container{
    display: none;
} */